{{log @outletArgs}}

<div class='category-thing core'>

</div>

<div class='category-thing togr'>
</div>

<div class='category-thing apps-appeals'>
</div>

<div class='category-thing dev'>
</div>

<div class='category-thing private'>
</div>

<div class='category-thing closed'>
</div>