{{log @outletArgs}}

<div class='debug'>categories found</div>

<div class='category-thing core'>
	{{!-- {{categories-only
		categories=(filter-core @outletArgs.categories)
		latestTopicOnly=true
		showTopics=true
	}} --}}
</div>

<div class='category-thing togr'>
</div>

<div class='category-thing apps-appeals'>
</div>

<div class='category-thing dev'>
</div>

<div class='category-thing private'>
</div>

<div class='category-thing closed'>
</div>