{{log @outletArgs}}

<div class='category-thing core'>
    {{@outletArgs.categories.content[0]}}
</div>

<div class='category-thing togr'>
</div>

<div class='category-thing apps-appeals'>
</div>

<div class='category-thing dev'>
</div>

<div class='category-thing private'>
</div>

<div class='category-thing closed'>
</div>