.toggle-hide-devs-btn.dis {
	background-color: rgb(221, 93, 93);
	color: #e9e9e9 !important;
}
.toggle-hide-devs-btn {
	background-color: transparent;
}

.topic-post .topic-body {
	z-index: 1;
}

.category-logo img {
	max-width: 64px !important;
	max-height: 64px !important;
}

.categories-root {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	& > div {
		width: calc(50% - 10px);
	}
}

.navigation-categories {
	.category-thing {
		& > .category-list {
			display: block;
			padding-top: 150px;
			background-repeat: no-repeat;
			background-size: 100% 150px;
			position: relative;
			width: 100%;

			&:before {
				position: absolute;
				top: calc(150px - 50px - 25px);
				left: 13px;
				color: #fff;
				text-shadow: #000 0px 0px 4px;
				font-size: 50px;
			}

			thead {
				display: none;
			}

			tbody {
				position: static;
				display: table;
				width: 100%;
				table-layout: fixed;
				box-sizing: border-box;
			}

			div {
				position: static;
			}
		}

		&.interstate > .category-list {
			&:before {
				content: 'Interstate V';
			}

			background-image: url(https://bactanetwork.com/img/Forums/InterstateBanner.png);
		}

		&.scp > .category-list {
			&:before {
				content: 'SCP-RP';
			}

			background-image: url(https://bactanetwork.com/img/Forums/SCPBanner.png);
		}

		&.core > .category-list {
			&:before {
				content: 'Bacta Network';
			}

			background-image: url(https://bactanetwork.com/img/Forums/BactaBanner.png);
		}

		&.apps-appeals > .category-list {
			&:before {
				content: 'Applications & Appeals';
			}

			background-image: linear-gradient(
				to bottom,
				rgb(141, 28, 28) 0%,
				rgb(168, 96, 96) 100%
			);
		}

		&.private > .category-list {
			&:before {
				content: 'Staff';
			}

			background-image: linear-gradient(to bottom, #000 0%, #111 100%);
		}
	}
}

.topic-list-item[class*='category-redm-'] {
	.link-bottom-line,
	.topic-item-stats {
		border-left: 4px solid #a00202;
		padding-left: 4px;
	}
}

.topic-list-item {
	&[class*='category-server-development'],
	&[class*='category-development'],
	&[class*='category-general'],
	&[class*='category-technical'],
	&[class*='category-announcements'] {
		.link-bottom-line,
		.topic-item-stats {
			border-left: 4px solid #ffa76d;
			padding-left: 4px;
		}
	}
}
